<%= stylesheet_link_tag '/assets/poke' , media: 'all'%>
<%= render "shared/nav" %>

<% if @pokemons.nil? %>
<p> no pokemons</p>
<% else %>
  <div class="cards">
<% @pokemons.each do |pokemon| %>
<%= render partial: 'shared/card', locals: {pokemon: pokemon} %>

<% end %>
<% end %>
</div>
</body>



