<%= stylesheet_link_tag '/assets/poke' , media: 'all'%>
<%= render "shared/nav" %>
<h1>Search pokemon by name or number!</h1>

<%= render "shared/search", { path: new_pokemon_path } %>
<% if @pokemon.name.nil? %>
  <p> no such pokemon</p>
<% else %>
  <%= render partial: 'shared/card', locals: {pokemon: @pokemon} %>
<% end %>

