<h1><%=@pokemon_number %></h1>
<div>
  <% if @response.present? %>
    <table>
      <tr>
        <td>No.</td>
        <td><%= @response["id"] %></td>
      </tr>
      <tr>
        <td>Name:</td>
        <td><%= @response["name"] %></td>
      </tr>
    </table>

    <%= image_tag(@response["sprites"]["front_default"], size: "200") if @response["sprites"]["front_default"] %>
  <% else %>
    <p> NO such pokemon!!</p>
  <% end %>
</div>